{% extends 'gallery/base.html' %}

{% load static%}

{% block title %}
    Детальная страница фото
{% endblock %}

{% block content %}
<style>
    .rounded_img {
    width: 15%;
    border-radius: 50%
}
    .post_img {
        width: 100%
    }
</style>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-5">
        {% for photo in photos %}
        <div class="my-2">
            <p class="mt-5 text-left"><strong>{{ photo.author }}</strong></p>
            <a href="{% url 'photo' photo.pk %}">
                <img class="post_img" src="{{ photo.img.url }}" alt="image">
            </a>
            <p class="mt-2 text-left">
                {{ photo.text }}
            </p>
        </div>  
        {%  endfor %}
    </div>
{% endblock %}
