{% extends 'gallery/base.html' %}

{% load static%}

{% block title %}
    Редактировать ново фото
{% endblock %}

{% block content %}
<div class="row block">
    <div class="col-lg-9 mx-auto mt-4">
        <h2 class="text-start ms-2 my-5">Редактирование фотографии</h2>
        <form id="form-container" class="text-center" action="{% url 'photo_update' object.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="form-error text-center text-danger fw-light">{{ form_resume.non_field_errors }}</div>
            {% for f in form %}
            <p class="text-start mb-2 mx-2 fw-light"><strong>{{ f.label }}</strong></p>
            <p class="text-start w-100 mx-2"> {{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <p class="text-center mt-2 mb-5"><input class="btn btn-primary bg-gradient rounded-1 px-4" type="submit" value="Сохранить"></p>
        </form>
    </div>
</div>
{% endblock %}